<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.4.1" targetFramework="net452" developmentDependency="true" />
  <package id="Fody" version="2.0.6" targetFramework="net452" developmentDependency="true" />
  <package id="linq2db" version="1.7.6" targetFramework="net452" />
  <package id="Milyli.CodeAnalysis" version="2.0.1" targetFramework="net452" />
  <package id="Relativity.Agent" version="9.5.41.87" targetFramework="net452" />
  <package id="Relativity.Core" version="9.4.284.1" targetFramework="net452" />
  <package id="Relativity.EventHandler" version="8.2.0" targetFramework="net452" />
  <package id="Relativity.RSAPI" version="9.5.41.87" targetFramework="net452" />
  <package id="StructureMap" version="4.4.5" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
</packages>