/Milyli.ScriptRunner.Core.Test/obj
/Milyli.ScriptRunner.Core.Test/bin
/Milyli.ScriptRunner.Core/obj
/Milyli.ScriptRunner.Core/bin
/Milyli.ScriptRunner.Web/bin
/Milyli.ScriptRunner.Web/obj
/Milyli.ScriptRunner.Web/Deployment
/Milyli.ScriptRunner*/bin
/Milyli.ScriptRunner*/obj
/Solutions/packages
/Solutions/.vs
*.user

/Milyli.ScriptRunner.Web/Properties/PublishProfiles/AH-CustomPage.pubxml
