/Milyli.ScriptRunner.Core.Test/obj
/Milyli.ScriptRunner.Core.Test/bin
/Milyli.ScriptRunner.Core/obj
/Milyli.ScriptRunner.Core/bin
/Milyli.ScriptRunner/bin
/Milyli.ScriptRunner/obj
/Milyli.ScriptRunner/Deployment
/Milyli.ScriptRunner.Agent/bin
/Milyli.ScriptRunner.Agent/obj
/Solutions/packages
/Solutions/.vs
*.user

