<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section xdt:Transform="Insert" type="Milyli.ScriptRunner.ExternalIHelper.Config.EnvironmentsSection, Milyli.ScriptRunner.ExternalIHelper" name="ExternalIHelperEnvironments" />
  </configSections>
  <ExternalIHelperEnvironments xdt:Transform="Insert">
    <add ExecutingMachineName="Levin-PC" EddsServerName="k12-r96-al" RsapiUserName="relativity.admin@relativity.com" />
  </ExternalIHelperEnvironments>
  <system.webServer>
    <modules>
      <add xdt:Transform="Remove" xdt:Locator="Match(name)" name="CustomPages" type="Relativity.CustomPages.RequestModule, Relativity.CustomPages" preCondition="managedHandler" />
      <remove xdt:Transform="Remove" xdt:Locator="Match(name)" name="ASPxHttpHandlerModule" />
    </modules>
  </system.webServer>
</configuration>