
@{
    ViewBag.Title = "Not Authorized";
}

<div style="text-align: center; padding:20px;">
    <h2 style="color: red;">Not Authorized</h2>
    <br/>
    <h4>Sorry, you are not authorized to view this page.</h4>
    <br/>
    <button class="btn btn-default" onclick="history.back()">Return</button>
</div>

