
@{
    ViewBag.Title = "Not Authorized";
}

<h2 class="text-warning">Not Authorized</h2>

<p>Sorry you are not authorized to view this page.</p>
<button class="btn btn-default" onclick="history.back()">Return</button>

