<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.4.1" targetFramework="net452" developmentDependency="true" />
  <package id="Dapper" version="1.42" targetFramework="net452" />
  <package id="Fody" version="2.0.6" targetFramework="net452" developmentDependency="true" />
  <package id="Milyli.CodeAnalysis" version="2.0.1" targetFramework="net452" />
  <package id="Relativity.Core" version="9.5.41.87" targetFramework="net452" />
  <package id="Relativity.EventHandler" version="9.5.41.87" targetFramework="net452" />
  <package id="Relativity.RSAPI" version="9.5.41.87" targetFramework="net452" />
  <package id="RelativityTabManager" version="1.1.0" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
</packages>