<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="kCura.Config" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section type="Milyli.Framework.Relativity.TestTools.RelativityConstants, Milyli.Framework.Relativity.TestTools" name="RelativityConstants" />
	</configSections>
	<kCura.Config>
		<add key="connectionString" value="data source=k12-r95-ag;initial catalog=EDDS;persist security info=False;user id=EDDSdbo;password=Test1234!!!!!s; workstation id=localhost;packet size=4096" />
	</kCura.Config>
	<RelativityConstants>
		<RelativityEnvironments>
			<add Server="k12-r95-ag" WorkspaceId="-1" ExecutingMachineName="Golding-PC" TestEmailAddress="golding@milyli.com" />
		</RelativityEnvironments>
	</RelativityConstants>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="linq2db" publicKeyToken="f19f8aed7feff67e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.7.6" newVersion="1.0.7.6" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>